.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

.sumb {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.name,
.email,
.pass,
.gen,
.cou,
.time,
.status {
  margin-bottom: 20px;
}

.gen div,
.cou div {
  display: flex;
  align-items: center;
}

.gen label,
.cou label {
  margin-right: 15px;
}


.link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #45a049;

}